:root {
  --font-primary: "Inter", sans-serif;
  --primary-bg: #f6f6f8;
  --secondary-bg: #ffffff;
  --primary-text: #333;
  --secondary-ui-color: #ececec;
  --secondary-ui-hover-color: #4164df;
  --offwhite: #f0f0f0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary, Arial, sans-serif);
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
