/* This file will style the market overview page, more specifically, wrap the chart component and any future elements */

.companyList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
