.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  margin: 8px;
  /* width: 200px; */
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 25px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 35px;
  align-self: center;
  object-fit: contain;
}
.companyName {
  font-size: 0.6em;
  color: #666;
  /* margin-bottom: 4px; */
}

.companySymbol {
  font-size: 1em;
  font-weight: bold;
  /* margin-bottom: 8px; */
}
.stockPrice {
  font-size: 1.2em;
  color: #333;
  /* margin-bottom: 8px; */
}

.stockChange {
  font-size: 0.9em;
  color: #31f300;
  margin: 0;
  /* margin-left: 50px; */
}

.priceContainer {
  margin-left: 30px;
}

.selected {
  border: 2px solid #007ef3;
  box-shadow: 0 4px 8px rgba(0, 126, 243, 0.2);
  background-color: #f0f8ff;
}

.stockCurrency {
  font-size: 0.9em;
  color: #999;
  margin-left: 4px;
  margin-top: 20px;
}

.changeIcon {
  width: 26px;
  height: 26px;
}
